<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-router@3"></script>
    {% block extrastyle %} {% endblock %}
    <title>{% block titulo %}Mamma Mia{% endblock %}</title>
  </head>
  <body>
    
    <script type="text/x-template" id="mi-componente-template">
      <div>
        <h1>{{ mensaje }}</h1>
      </div>
    </script>

    <header>
      <h1>Mamma Mia Pizzería</h1>
      <nav>
        <ul>
          <li><a href="{% url 'index' %}">Inicio</a></li>
          <li><a href="{% url 'pedido' %}">Pedido</a></li>
          <li><a href="{% url 'reservas' %}">Reservas</a></li>
          <li><a href="{% url 'pizzas' %}">Pizzas</a></li>
          <li><a href="{% url 'masas' %}">Masas</a></li>
          <li><a href="{% url 'ingredientes' %}">Ingredientes</a></li>
        </ul>
      </nav>
    </header>

    

    {% block contenido %}
    
    {% endblock %}

    <footer>
      <p id="parrafo-footer">
        &copy; <span id="anyoMostrado"></span> MammaMia
        <a href="{% url 'footerinfo' %}" @click.prevent="navegarAcercaDeNosotros()">Acerca de nosotros</a>
        <a href="{% url 'footerinfo' %}" @click.prevent="navegarContacto()">Contacto</a>
        <a href="{% url 'footerinfo' %}" @click.prevent="navegarPoliticaPrivacidad()">Política de privacidad</a>
        <a href="{% url 'footerinfo' %}" @click.prevent="navegarTerminosCondiciones()">Términos y condiciones</a>
      </p>
     </footer>

    
    <script>
      var fechaActual = new Date();
      var anyoActual = fechaActual.getFullYear();
      document.getElementById("anyoMostrado").innerHTML = anyoActual;
    </script>
    <script type="application/javascript" src="{% url 'footerinfo' %}">
      import Vue from 'vue';
      import VueRouter from 'vue-router';
      import AcercaDeNosotros from '../../static/js/vue_app/components/AcercaDeNosotros.vue';
      import Contacto from '../../static/js/vue_app/components/Contacto.vue';
      import PoliticaPrivacidad from '../../static/js/vue_app/components/PoliticaPrivacidad.vue';
      import TerminosCondiciones from '../../static/js/vue_app/components/TerminosCondiciones.vue';
      // Configuración de Vue Router
      
      Vue.use(VueRouter);
      const routes = [
      { path: '/acerca-de-nosotros', component: AcercaDeNosotros },
      { path: '/contacto', component: Contacto },
      { path: '/politica-privacidad', component: PoliticaPrivacidad },
      { path: '/terminos-condiciones', component: TerminosCondiciones },
      ];

      const router = new VueRouter({
      routes,
      mode: 'history',
      base: '/'
      });

      new Vue({
        el: '#app',
        router,
        methods: {
            navegarAcercaDeNosotros() {
            this.$router.push('/acerca-de-nosotros');
            },
            navegarContacto() {
            this.$router.push('/contacto');
            },
            navegarPoliticaPrivacidad() {
            this.$router.push('/politica-privacidad');
            },
            navegarTerminosCondiciones() {
            this.$router.push('/terminos-condiciones');
            }
        }
      });
  </script>
  

  </body>
</html>