

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <title>{% block titulo %}Mamma Mia{% endblock %}</title>
    </head>
    <body>
      <header>
        <h1>Mamma Mia Pizzeria</h1>
        <nav>
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="{% url 'menu' %}">Menu</a></li>
                <li><a href="">Reservas</a></li>
                <li><a href="">Contacto</a></li>
            </ul>
        </nav>
      </header>
        <footer>
            <p id="parrafo-footer">
                &copy; {{ year }} MammaMia <a href="">Acerca de nosotros</a> <a href="">Contacto</a>
                <a href="">Política de privacidad</a> <a href="">Términos y condiciones</a>
            </p>
        </footer>
    </body>
</html>