{% extends "base.html" %}

{% block titulo %} Contacto {% endblock %}

{% block extrastyle %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'styleContacto.css' %}">
{% endblock %}

{% block contenido %}
    <div class="contact-container">
        <h2>Información de Contacto</h2>
        <p>Puedes contactarnos a través de:</p>

        <ul class="contact-list">
            <li class="contact-item">
                Dirección
                <div class="submenu-container">
                    <p>Nuestra dirección:</p>
                    <ul>
                        <li>Calle Roma, Número 33</li>
                        <li>Bilbao (48001)</li>
                        <li>Vizcaya</li>
                    </ul>
                </div>
            </li>

            <li class="contact-item">
                Teléfono
                <div class="submenu-container">
                    <p>Nuestro número de teléfono:</p>
                    <ul>
                        <li>+34 944 41 00 00</li>
                    </ul>
                </div>
            </li>

            <li class="contact-item">
                Correo
                <div class="submenu-container">
                    <p>Nuestra dirección de correo electrónico:</p>
                    <ul>
                        <li>mammamiapizzeria@info.com</li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.contact-item').click(function() {
                $(this).find('.submenu-container').slideToggle();
                $(this).siblings().find('.submenu-container').slideUp();
            });
        });
    </script>
{% endblock %}
