{% extends "base.html" %}

{% block titulo %} {{ pizza.nombre }} {% endblock %}

{% block contenido %}
    <div class="producto-detalles">
        <div class="producto-info">
            <h2>{{ pizza.nombre }}</h2>
            <p class="producto-descripcion">{{ pizza.descripcion }}</p>
            <p>Precio: {{ pizza.precio }}€</p>
            <img src="{{ pizza.imagen.url }}" alt="{{ pizza.nombre }} - Imagen">
            <p> {{ pizza.masa.nombre }}</p>
        </div>

        <div class="producto-asociado">
            <h3>Ingredientes</h3>
            {% if ingrediente %}
                <ul class="lista-productos">
                    {% for ingrediente in ingredientes %}
                        <li>
                            <h4>{{ ingrediente.nombre }}</h4>
                            <img src="{{ ingrediente.imagen.url }}" alt="{{ pizza.nombre }} - Imagen">
                        </li>
                    {% empty %}
                        <li>No hay ingredientes asociados a esta pizza.</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No hay ingredientes asociados a esta pizza.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}