{% extends "base.html" %}
{% load static %}
{% block titulo %} {{ pizza.nombre }} {% endblock %}

{% block contenido %}
    <div class="producto-detalles">
        <div class="producto-info">
            <h2>{{ pizza.nombre }}</h2>
            <p class="producto-descripcion">{{ pizza.descripcion }}</p>
            <p><a href="{% url 'detalles_masa' nombre=pizza.masa.id %}">{{ pizza.masa.nombre }}</a></p>
            <p>Precio: {{ pizza.precio }}€</p>
            <img src="{% static pizza.imagen.name %}" alt="{{ pizza.nombre }} - Imagen">
        </div>

        <div class="producto-asociado">
            <h3>Ingredientes</h3><br>
            {% if ingredientes %}
                <ul class="lista-productos">
                    {% for ingrediente in ingredientes %}
                        <li>
                            <h4>{{ ingrediente.nombre }}</h4>
                            <img src="{% static ingrediente.imagen.name %}" alt="{{ pizza.nombre }} - Imagen">
                        </li>
                    {% empty %}
                        <li>No hay ingredientes asociados a esta pizza.</li>
                    {% endfor %}
                </ul>
            {% else %}
                {% for ingrediente in ingredientes %}
                    <p>{{ ingrediente.name }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
<link rel="stylesheet" href="{% static 'styleDetalles.css' %}">
{% endblock %}