{% extends "base.html" %}
{% load static %}
{% block titulo %} {{ ingrediente.nombre }} {% endblock %}
{% block contenido %}
    <div class="producto-detalles">
        <div class="producto-info">
            <h2>{{ ingrediente.nombre }}</h2>
            <p class="producto-descripcion">{{ ingrediente.descripcion }}</p>
            <p>Precio: {{ ingrediente.precio }}€</p>
            <img src="{% static ingrediente.imagen.name %}" alt="{{ ingrediente.nombre }} - Imagen">
        </div>

        <div class="producto-asociado">
            <h3>Pizzas con {{ ingrediente.nombre }}</h3>
            {% if pizzas %}
                <ul class="lista-productos">
                    {% for pizza in pizzas_asociadas %}
                        <li>
                            <h4>{{ pizza.nombre }}</h4>
                            <img src="{% static pizza.imagen.name %}" alt="{{ pizza.nombre }} - Imagen">
                        </li>
                    {% empty %}
                        <li>No hay pizzas asociadas a este ingrediente.</li>
                    {% endfor %}
                </ul>
            {% else %}
                {% for pizza in pizzas_asociadas %}
                    <p>{{ pizza.nombre }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
<link rel="stylesheet" href="{% static 'styleDetalles.css' %}">
{% endblock %}

