{% extends "base.html" %}

{% block titulo %} Menú {% endblock %}

{% block contenido %}
    <!-- Contenido específico de la página de inicio -->
    <div style="display: flex; justify-content: space-around; margin-top: 20px;">
        <div style="width: 30%;">
            <a href="{% url 'masas' %}">
                <h3>Masas</h3>
                <img src="{% static 'masa1.jpg' %}" alt="Masas">
            </a>
            <p>Explora nuestras deliciosas masas.</p>
        </div>
        <div style="width: 30%;">
            <a href="{% url 'pizzas' %}">
                <h3>Pizzas</h3>
                <img src="{% static 'pizza1.jpg' %}" alt="Pizzas">
            </a>
            <p>Conoce nuestras increíbles pizzas.</p>
        </div>
        <div style="width: 30%;">
            <a href="{% url 'ingredientes' %}">
                <h3>Ingredientes</h3>
                <img src="{% static 'ingrediente1.jpg' %}" alt="Ingredientes">
            </a>
            <p>Descubre nuestros variados ingredientes.</p>
        </div>
    </div>

    <div style="margin-top: 20px;">
        <h2>Entrantes</h2>
        <div style="display: flex; justify-content: space-around;">
            <div style="width: 30%;">
                <img src="{% static 'patatas1.jpg' %}" alt="Patatas">
                <p>Patatas</p>
            </div>
            <div style="width: 30%;">
                <img src="{% static 'alitas1.jpg' %}" alt="Alitas de pollo">
                <p>Alitas de pollo</p>
            </div>
        </div>
    </div>
{% endblock %}