{% extends "base.html" %}
{% load static %}

{% block titulo %} Menú {% endblock %}

{% block contenido %}
    <div class="menu-items">
        <div class="menu-item">
            <a href="{% url 'masas' %}">
                <img src="{% static 'masa1.jpg' %}" alt="Masas">
                <p>Explora nuestras deliciosas masas</p>
            </a>
        </div>
        <div class="menu-item">
            <a href="{% url 'pizzas' %}">
                <img src="{% static 'pizza1.jpg' %}" alt="Pizzas">
                <p>Conoce nuestras increíbles pizzas</p>
            </a>
        </div>
        <div class="menu-item">
            <a href="{% url 'ingredientes' %}">
                <img src="{% static 'ingrediente1.jpg' %}" alt="Ingredientes">
                <p>Descubre nuestros variados ingredientes</p>
            </a>
        </div>
    </div>

    <div class="extras-container">

        <div class="extras">
            <h2>Entrantes</h2>
            <ul>
                {% for entrante in lista_entrantes %}
                    <li class="extras-items">
                        <div class="extras-info">
                            <img src="{{ entrante.imagen.url }}" alt="{{ entrante.nombre }} - Imagen" class="extras-imagen">
                            <h3 class="extras-nombre">{{ entrante.nombre }}</h3>
                            <p class="extras-descripcion">{{ entrante.descripcion }}</p>
                            <p class="extra-precio">Precio: {{ entrante.precio }}€</p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="extras">
            <h2>Bebidas</h2>
            <ul>
                {% for bebida in lista_bebidas %}
                    <li class="extras-items">
                        <div class="extras-info">
                            <img src="{{ bebida.imagen.url }}" alt="{{ bebida.nombre }} - Imagen" class="extras-imagen">
                            <h3 class="extras-nombre">{{ bebida.nombre }}</h3>
                            <p class="extra-precio">Precio: {{ bebida.precio }}€</p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    
{% endblock %}
