{% extends "base.html" %}
{% load static %}

{% block titulo %} Menú {% endblock %}

{% block contenido %}
    <div class="menu-items">
        <div class="menu-item">
        <a href="{% url 'masas' %}">
            {% for masa in masas %}
            {% if masa.id == 4 %}
                <img src="{% static masa.imagen.name %}" alt="Masas">
            {% endif %}
            {% endfor %}  
            <p>Explora nuestras deliciosas masas</p>
        </a>
        </div>
        <div class="menu-item">
            <a href="{% url 'pizzas' %}">
                {% for pizza in pizzas %}
                {% if pizza.id == 3 %}
                    <img src="{% static pizza.imagen.name %}" alt="Masas">
                {% endif %}
                {% endfor %}  
                <p>Conoce nuestras increíbles pizzas</p>
            </a>
        </div>
        <div class="menu-item">
            <a href="{% url 'ingredientes' %}">
                {% for ingrediente in ingredientes %}
                {% if ingrediente.id == 12 %}
                    <img src="{% static ingrediente.imagen.name %}" alt="Masas">
                {% endif %}
                {% endfor %}  
                <p>Descubre nuestros variados ingredientes</p>
            </a>
        </div>
    </div>

    <div class="extras-container">

        <div class="extras">
            <h2>Entrantes</h2>
            <ul>
                {% for entrante in lista_entrantes %}
                    <li class="extras-items">
                        <div class="extras-info">
                            <img src="{% static entrante.imagen.name %}" alt="{{ entrante.nombre }} - Imagen" class="extras-imagen">
                            <h3 class="extras-nombre">{{ entrante.nombre }}</h3>
                            <p class="extras-descripcion">{{ entrante.descripcion }}</p>
                            <p class="extra-precio">Precio: {{ entrante.precio }}€</p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="extras">
            <h2>Bebidas</h2>
            <ul>
                {% for bebida in lista_bebidas %}
                    <li class="extras-items">
                        <div class="extras-info">
                            <img src="{% static bebida.imagen.name %}" alt="{{ bebida.nombre }} - Imagen" class="extras-imagen">
                            <h3 class="extras-nombre">{{ bebida.nombre }}</h3>
                            <p class="extra-precio">Precio: {{ bebida.precio }}€</p>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    
{% endblock %}
