{% extends "base.html" %}

{% block titulo %} Lista de Ingredientes {% endblock %}

{% block contenido %}
{% load static %}
  <h2>Nuestros Ingredientes</h2>
  <div class="ingredientes-lista">
    {% for ingrediente in lista_ingredientes %}
      <div class="ingrediente-item">
        <img src="{% static ingrediente.imagen.name %}" alt="{{ ingrediente.nombre }}">
        <h3>{{ ingrediente.nombre }}</h3>
        <ul class="list-group list-group-flush">
          <p class="precio">Precio: ${{ ingrediente.precio }}</p>
        </ul>
      </div>
    {% endfor %}

     <!-- Enlace al archivo de estilos -->
  <link rel="stylesheet" href="{% static 'stylePizzas.css' %}">

{% endblock %}
 