{% extends "base.html" %}

{% block titulo %} Lista de Ingredientes {% endblock %}

{% block contenido %}
{% load static %}
  <h2>Nuestros Ingredientes</h2>
  <div class="ingredientes-lista">
    {% for ingrediente in lista_ingredientes %}
      <div class="ingrediente-item">
        <img src="{% static ingrediente.imagen.name %}" alt="{{ ingrediente.nombre }}">
        <h3>{{ ingrediente.nombre }}</h3>
        <p class="descripcion">{{ ingrediente.descripcion }}</p>
        <p class="precio">Precio: ${{ ingrediente.precio }}</p>
      </div>

      <!-- Para que aparezcan en columnas de tres -->
      {% if forloop.counter|divisibleby:3 and not forloop.last %}
        </div><div class="ingredientes-lista">
      {% endif %}
    {% endfor %}

{% endblock %}
