{% extends "base.html" %}
{% load static %}


{% block titulo %} Tipos de Masas {% endblock %}

{% block contenido %}
    <div class="masas-container">
        <h2>Tipos de Masas Disponibles</h2>
        <ul class="masas-list">
            {% for masa in masas %}
                <li class="masa-item">
                    <a href="{% url 'detalles_masa' nombre = masa.nombre %}">
                        <div class="masa-info">
                            <img src="{{ masa.imagen.url }}" alt="{{ masa.nombre }} - Imagen" class="masa-imagen">
                            <h3 class="masa-nombre">{{ masa.nombre }}</h3>
                            <ul class="list-group list-group-flush">
                                <p class="masa-precio">Precio: {{ masa.precio }}€</p>
                            </ul>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <!-- Enlace al archivo de estilos -->
    <link rel="stylesheet" href="{% static 'styleMasas.css' %}">
{% endblock %}
