{% extends "base.html" %}

{% block titulo %} Pedido {% endblock %}

{% block extrastyle %}
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'stylePedido.css' %}">
{% endblock %}

{% block contenido %}

    <div class="container">

        <h2 class="heading">¿Qué te apetece hoy?</h2>
    
        <div class="accordion-container">
    
            <div class="accordion active">
                <div class="accordion-heading">
                    <h3>Entrantes</h3>
                    <i class="fas fa-angle-down"></i>
                </div>
                <label class="accordion-content">
                    {% for entrante in lista_entrantes %}
                            <input type="checkbox" name="entrantes_checkbox" value="{{ entrante.nombre }}">
                            {{ entrante.nombre }}
                    {% endfor %}
                </label>
            </div>
    
            <div class="accordion">
                <div class="accordion-heading">
                    <h3>Pizzas</h3>
                    <i class="fas fa-angle-down"></i>
                </div>
                <label class="accordion-content">
                    {% for pizza in lista_pizzas %}
                            <input type="checkbox" name="pizza_checkbox" value="{{ pizza.nombre }}">
                            {{ pizza.nombre }}
                    {% endfor %}
                </label>
            </div>
    
            <div class="accordion">
                <div class="accordion-heading">
                    <h3>Pizza a tu gusto</h3>
                    <i class="fas fa-angle-down"></i>
                </div>
                <label class="accordion-content">
                    <p style="font-weight: bold;">Masas</p>
                    {% for masa in lista_masas %}
                            <input type="checkbox" name="masa_checkbox" value="{{ masa.nombre }}">
                            {{ masa.nombre }}
                    {% endfor %}
                    <p style="font-weight: bold;">Ingredientes</p>
                    {% for ingrediente in lista_ingredientes %}
                            <input type="checkbox" name="ingrediente_checkbox" value="{{ ingrediente.nombre }}">
                            {{ ingrediente.nombre }}
                    {% endfor %}
                </label>
            </div>
    
            <div class="accordion">
                <div class="accordion-heading">
                    <h3>Bebidas</h3>
                    <i class="fas fa-angle-down"></i>
                </div>
                <label class="accordion-content">
                    {% for bebida in lista_bebidas %}
                            <input type="checkbox" name="bebida_checkbox" value="{{ bebida.nombre }}">
                            {{ bebida.nombre }}
                    {% endfor %}
                </label>
            </div>    
        </div>
    
    </div>
    
    
    <script>
        let accordions = document.querySelectorAll('.accordion-container .accordion');
        
        accordions.forEach(acco =>{
            acco.onclick = () =>{
                accordions.forEach(subAcco => { subAcco.classList.remove('active') });
                acco.classList.add('active');
            } 
        })
    </script>
    <br> 
    <dialog id="ventana">
        <div id="container-ventana">
            <h2>Añada sus datos de contacto</h2><br>
            <label for="nombre">Nombre</label><br>
            <input type="text" id="nombre"><br>
            <label for="apellidos">Apellidos</label><br>
            <input type="text" id="apellidos"><br>
            <label for="direccion">Dirección</label><br>
            <input type="text"id="direccion"><br>
            <label for="telefono">Teléfono</label><br>
            <input type="text" id="telefono"><br><br>
            <textarea name="comentario" id="comentario" cols="30" rows="10" placeholder="Añada algun comentario para el repartidor"></textarea><br>
            <button type="submit" id="guardar">Realizar Pedido</button><br>
        </div>
    </dialog>
    <div class="container-boton">
        <button type="submit" id="enviar" class="boton-pedir" >Pedir</button>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        const btnAbrirVentana = document.getElementById("enviar");
        const ventana = document.getElementById("ventana");
        const btnGuardarDatos = document.getElementById("guardar");
        const checkboxs = document.querySelectorAll("input[type='checkbox']");
        btnAbrirVentana.addEventListener("click", ()=> {
            let alMenosUnoSeleccionado = false;
            checkboxs.forEach(checkbox => {
                if (checkbox.checked) {
                    alMenosUnoSeleccionado = true;
                }
                });
                if (alMenosUnoSeleccionado) {
                    ventana.showModal();
                } else {
                    alert("Tienes que seleccionar almenos un producto");
                }
            
        })

        const nombre = document.getElementById("nombre");
        const apellidos = document.getElementById("apellidos");
        const direccion = document.getElementById("direccion");
        const telefono = document.getElementById("telefono");

        const regex = /^\d{9}$/;

        btnGuardarDatos.addEventListener("click", ()=> {
            if(nombre && apellidos && direccion && telefono && regex.test(telefono.value)) {
                $(document).ready(function () {
                        $("#enviarDatos").click(function () {
                            var nombre = $("#nombre").val();
                            var apellidos = $("#apellidos").val();
                            var direccion = $("direccion").val();
                            var telefono = $("telefono").val();
                            var comentario = $("comentario").val();
                            var pedido_id = null;

                            // Envia los datos al servidor
                            $.ajax({
                                url: "{% url 'guardar_cliente' %}",
                                type: "POST",
                                data: {
                                    nombreCliente: nombre,
                                    apellidos: apellidos,
                                    direccion: direccion,
                                    telefono: telefono,
                                    comentario: comentario,
                                    pedido: pedido_id,
                                },
                                success: function (response) {
                                    // Maneja la respuesta del servidor
                                    console.log(response);
                                },
                                error: function (error) {
                                    // Maneja errores
                                    console.log(error);
                                }
                            });
                        });
                    });
                ventana.close();
            } else {
                alert('No has rellenado todos los campos');
            }
        })
    </script>
    
{% endblock %}
