{% extends "base.html" %}

{% block titulo %} Pedido {% endblock %}

{% block extrastyle %}
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'stylePedido.css' %}">
{% endblock %}

{% block contenido %}
    {% csrf_token %}
    <div class="container">

        <h2 class="heading">¿Qué te apetece hoy?</h2>
    
        <div class="accordion-container">
    
            <div class="accordion active">
                <div class="accordion-heading">
                    <h3>Entrantes</h3>
                    <i class="fas fa-angle-down"></i>
                </div>
                <label class="accordion-content">
                    {% for entrante in lista_entrantes %}
                            <input type="checkbox" name="entrantes_checkbox" id="entrantes_checkbox_{{ entrante.id }}" value="{{ entrante.id }}">
                            {{ entrante.nombre }}
                    {% endfor %}
                </label>
            </div>
    
            <div class="accordion">
                <div class="accordion-heading">
                    <h3>Pizzas</h3>
                    <i class="fas fa-angle-down"></i>
                </div>
                <label class="accordion-content">
                    {% for pizza in lista_pizzas %}
                            <input type="checkbox" name="pizza_checkbox" id="pizza_checkbox_{{ pizza.id }}" value="{{ pizza.id }}">
                            {{ pizza.nombre }}
                    {% endfor %}
                </label>
            </div>
    
            <div class="accordion">
                <div class="accordion-heading">
                    <h3>Pizza a tu gusto</h3>
                    <i class="fas fa-angle-down"></i>
                </div>
                <label class="accordion-content">
                    <h4 style="font-weight: bold;">Masas</h4>
                    {% for masa in lista_masas %}
                            <input type="checkbox" name="masa_checkbox" id="masa_checkbox_{{ masa.id }}" value="{{ masa.id }}">
                            {{ masa.nombre }}
                    {% endfor %}
                    <h4 style="font-weight: bold;">Ingredientes</h4>
                    {% for ingrediente in lista_ingredientes %}
                            <input type="checkbox" name="ingrediente_checkbox" id="ingrediente_checkbox_{{ ingrediente.id }}" value="{{ ingrediente.id }}">
                            {{ ingrediente.nombre }}
                    {% endfor %}
                </label>
            </div>
    
            <div class="accordion">
                <div class="accordion-heading">
                    <h3>Bebidas</h3>
                    <i class="fas fa-angle-down"></i>
                </div>
                <label class="accordion-content">
                    {% for bebida in lista_bebidas %}
                            <input type="checkbox" name="bebida_checkbox" id="bebida_checkbox_{{ bebida.id }}" value="{{ bebida.id }}">
                            {{ bebida.nombre }}
                    {% endfor %}
                </label>
            </div>    
        </div>
    
    </div>
    
    
    <script>
        let accordions = document.querySelectorAll('.accordion-container .accordion');
        
        accordions.forEach(acco =>{
            acco.onclick = () =>{
                accordions.forEach(subAcco => { subAcco.classList.remove('active') });
                acco.classList.add('active');
            } 
        })
    </script>
    <br> 
    <dialog id="ventana">
        <div id="container-ventana">
            <h2>Añada sus datos de contacto</h2><br>
            <label for="nombre">Nombre</label><br>
            <input type="text" id="nombre"><br>
            <label for="apellidos">Apellidos</label><br>
            <input type="text" id="apellidos"><br>
            <label for="direccion">Dirección</label><br>
            <input type="text" id="direccion"><br>
            <label for="telefono">Teléfono</label><br>
            <input type="text" id="telefono"><br><br>
            <textarea name="comentario" id="comentario" cols="30" rows="5" placeholder="Añada algun comentario para el repartidor"></textarea><br>
            <button type="submit" id="guardar">Realizar Pedido</button><br>
        </div>
    </dialog>
    <div class="container-boton">
        <button type="submit" id="enviar" class="boton-pedir" >Pedir</button>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script>
        const btnAbrirVentana = document.getElementById("enviar");
        const ventana = document.getElementById("ventana");
        const btnGuardarDatos = document.getElementById("guardar");
        const checkboxs = document.querySelectorAll("input[type='checkbox']");
        btnAbrirVentana.addEventListener("click", ()=> {
            let alMenosUnoSeleccionado = false;
            checkboxs.forEach(checkbox => {
                if (checkbox.checked) {
                    alMenosUnoSeleccionado = true;
                }
                });
                if (alMenosUnoSeleccionado) {
                    ventana.showModal();
                } else {
                    alert("Tienes que seleccionar almenos un producto");
                }
            
        })

        const nombre = document.getElementById("nombre");
        const apellidos = document.getElementById("apellidos");
        const direccion = document.getElementById("direccion");
        const telefono = document.getElementById("telefono");
        
        const regex = /^\d{9}$/;

        btnGuardarDatos.addEventListener("click", () => {
            if (nombre && apellidos && direccion && telefono && regex.test(telefono.value)) {

                const checkboxEntrantes = Array.from(document.querySelectorAll('input[type="checkbox"][id="entrantes_checkbox"]:checked')).map(checkbox => checkbox.value);
                const checkboxPizzas = Array.from(document.querySelectorAll('input[type="checkbox"][id="pizza_checkbox"]:checked')).map(checkbox => checkbox.value);
                const checkboxMasas = document.querySelectorAll('input[name="masa_checkbox"]:checked').value;
                const checkboxIngredientes = Array.from(document.querySelectorAll('input[type="checkbox"][id="ingrediente_checkbox"]:checked')).map(checkbox => checkbox.value);
                const checkboxBebidas = Array.from(document.querySelectorAll('input[type="checkbox"][id="bebida_checkbox"]:checked')).map(checkbox => checkbox.value);
                const comentarioValor = $("#comentario").val();

                const nombreValor = nombre.value;
                const apellidosValor = apellidos.value;
                const direccionValor = direccion.value;
                const telefonoValor = telefono.value;
                var csrftoken = $('[name=csrfmiddlewaretoken]').val();
                // Envia los datos al servidor
                $.ajax({
                    url: "{% url 'guardar_datos_cliente' %}",
                    type: "POST",
                    headers: {
                        'X-CSRFToken': csrftoken
                    },
                    data: JSON.stringify({
                        nombreCliente: nombreValor,
                        apellidos: apellidosValor,
                        direccion: direccionValor,
                        telefono: telefonoValor,
                        pizza: checkboxPizzas,
                        masa: checkboxMasas,
                        ingrediente: checkboxIngredientes,
                        entrantes: checkboxEntrantes,
                        bebidas: checkboxBebidas,
                        comentario: comentarioValor,
                    }),
                    contentType: 'application/json',

                    success: function (response) {
                        // Maneja la respuesta del servidor
                        console.log(response);
                    },
                    error: function (error) {
                        // Maneja errores
                        console.log(error);
                    }
                });

                ventana.close();
            } else {
                alert('No has rellenado todos los campos');
            }
        });

    </script>

    <script>
        // Obtén todos los checkboxes del grupo
        var checkboxes = document.querySelectorAll('input[name="masa_checkbox"]');

        // Agrega un listener a cada checkbox
        checkboxes.forEach(function (checkbox) {
            checkbox.addEventListener('change', function () {
                // Desmarca todos los checkboxes
                checkboxes.forEach(function (otherCheckbox) {
                    if (otherCheckbox !== checkbox) {
                        otherCheckbox.checked = false;
                    }
                });
            });
        });
    </script>
    
{% endblock %}
