{% extends "base.html" %}
{% load static %}

{% block titulo %} Pizzas {% endblock %}

{% block contenido %}
    <div class="masas-container">
        <h2 class="masas-titulo">Menú de pizzas </h2>
        <ul class="masas-list">
            {% for pizza in lista_pizzas %}
                <li class="masa-item">
                    <a href="{% url 'detalles_pizza' pizza.id %}">
                        <div class="masa-info">
                            <img src="{% static pizza.imagen.name %}" alt="{{ pizza.nombre }} - Imagen" class="masa-imagen">
                            <h3 class="masa-nombre">{{ pizza.nombre }}</h3>
                            <ul class="list-group list-group-flush">
                                <li class="masa-precio">Precio: {{ pizza.precio }}€</li>
                            </ul>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <!-- Enlace al archivo de estilos -->
    <link rel="stylesheet" href="{% static 'styleProductos.css' %}">
{% endblock %}
