{% extends "base.html" %}
{% load static %}

{% block titulo %} Reservas {% endblock %}

{% block contenido %}
  <div id="reserva-container" class="container">
    <h2 id="reserva-title">Realizar Reserva</h2>
    <form method="post" action="{% url 'reservas' %}">
      {% csrf_token %}
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" name="nombre" required><br>

      <label for="telefono">Teléfono:</label>
      <input type="text" id="telefono" name="telefono" required><br>

      <label for="comensales">Número de comensales:</label>
      <select id="comensales" name="comensales" required>
        <option value="" disabled selected>Selecciona una opción</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select><br>
      
      <label for="fecha_reserva">Fecha de reserva:</label>
      <input type="date" id="fecha_reserva" name="fecha_reserva" required><br>

      <label for="hora_reserva">Hora de reserva:</label>
      <select id="hora_reserva" name="hora_reserva" required>
        <option value="" disabled selected>Selecciona una opción</option>
        <option value="13:00">13:00</option>
        <option value="14:00">14:00</option>
        <option value="15:00">15:00</option>
        <option value="20:00">20:00</option>
        <option value="21:00">21:00</option>
        <option value="22:00">22:00</option>
      </select><br>

      <button type="submit" id="submit-button">Realizar Reserva</button>
    </form>
  </div>

<link rel="stylesheet" type="text/css" href="{% static 'styleReserva.css' %}">
{% endblock %}
