{% extends "base.html" %}
{% load static %}

{% block titulo %} Reservas {% endblock %}

{% block contenido %}
  <h2>Realizar Reserva</h2>
  <form method="post" action="{% url 'reservas' %}">
    {% csrf_token %}
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" required><br>

    <label for="telefono">Teléfono:</label>
    <input type="text" id="telefono" name="telefono" required><br>

    <label for="comensales">Número de comensales:</label>
    <select id="comensales" name="comensales" required>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="1">3</option>
      <option value="2">4</option>
      <option value="1">5</option>
      <option value="2">6</option>
      <option value="1">7</option>
      <option value="2">8</option>
      <option value="1">9</option>
      <option value="2">10</option>
      <option value="1">11</option>
      <option value="2">12</option>
    </select><br>
    
    <label for="fecha_reserva">Fecha de reserva:</label>
    <input type="date" id="fecha_reserva" name="fecha_reserva" required><br>


    <label for="hora_reserva">Hora de reserva:</label>
    <select id="hora_reserva" name="hora_reserva" required>
      <option value="13:00">13:00</option>
      <option value="14:00">14:00</option>
      <option value="15:00">15:00</option>
    </select><br>

    <button type="submit">Realizar Reserva</button>
  </form>

  <link rel="stylesheet" type="text/css" href="{% static 'styleReserva.css' %}">
{% endblock %}
