/* styleReserva.css */

#reserva-container {
  max-width: 400px; /* Se cambió 'width' por 'max-width' */
  background-color: #fff;
  margin: 50px auto;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

#reserva-title {
  color: #333;
  margin-bottom: 20px;
}

#reserva-container form {
  display: flex;
  flex-direction: column;
}

#reserva-container label {
  margin-top: 10px;
}

#reserva-container input,
#reserva-container select,
#reserva-container button {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

#reserva-container button {
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}

#reserva-container button:hover {
  background-color: #45a049;
}
