/* Estilos para la página de detalles del producto */
.producto-detalles {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.producto-info {
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.producto-info h2 {
    color: #333;
    font-size: 1.8em;
    margin-bottom: 15px;
}

.producto-descripcion {
    color: #666;
    margin-bottom: 15px;
    line-height: 1.5;
}

.producto-info p {
    margin: 0;
}

.producto-info p a {
    color: #007BFF; 
    text-decoration: none;
    margin: 0;
    transition: color 0.3s;
}

.producto-info p a:hover {
    color: #0056b3; 
}

.producto-info img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
    border-radius: 10px; /* Esquinas redondeadas para la imagen */
    margin-top: 15px;
}

.producto-asociado {
    width: 100%;
    margin-top: 30px;
}

.lista-productos {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.lista-productos li {
    width: 300px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.lista-productos li:hover {
    transform: scale(1.05);
}

.lista-productos h4 {
    color: #333;
    font-size: 1.8em;
    margin: 0;
    padding: 15px;
    text-align: center;
}

.lista-productos img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
    border-radius: 10px; /* Esquinas redondeadas para la imagen */
}

