* {
    margin: 0;
    padding: 0;
}
footer {
    color: white;
    background-color: black;
    margin-top: 50px;
    padding-left: 50px;
    padding-top: 12px;
    padding-bottom: 12px;
}

a {
    text-decoration: none;
    color: white;
}

#parrafo-footer {
    text-align: center;
}

#parrafo-footer a {
    display: inline-block;
    margin: 0 50px;
}