/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    width: 400px;
    height: 400px; /* Set the height to be the same as the width */
    background-color: #fff;
    margin: 50px auto; /* Center horizontally */
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative; /* Add position property */
  }
  
  h2 {
    color: #333;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
  }
  
  input,
  select,
  button {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%; /* Make the input fields and button full width */
    box-sizing: border-box; /* Include padding and border in the width calculation */
  }
  
  button {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  